.fundo {
  /* background: color image repeat position/size */
  background: url(./assets/bg-mobile-dark.jpg) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: white;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid whitesmoke;
  border-radius: 2%;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile a {
  margin: auto;
}
