* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: color image repeat position/size */
  background: url(./assets/bg-mobile-dark.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  /* border: 1px solid whitesmoke;
  border-radius: 2%; */
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  padding-top: 8px;
}

#profile a {
  text-decoration: none;
}

/* Links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4px);

  transition: background 0.9s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
}

#footer {
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: center;
  gap: 20px;
  transition: background 0.9s;
}

.bi-instagram:hover {
  background: rgba(255, 255, 255, 0.05);
}

.bi-linkedin:hover {
  background: rgba(255, 255, 255, 0.05);
}

.bi-github:hover {
  background: rgba(255, 255, 255, 0.05);
}

#credits p {
  display: flex;
  justify-content: center;
}
